<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="sshUsername" value=""/>
    <add key="sshPassword" value=""/>
    <add key="sshHostname" value=""/>
    <add key="sshCommands" value=""/>
  </appSettings>
</configuration>
